.mainWrap {
  width: 50%;
  margin: 0 auto;
  padding: 30px 0px;
  .todayDate {
    font-size: var(--font-medium);
    // font-weight: 600;
  }
  .greeting {
    margin: 100px 0px;
    text-align: center;
    font-size: var(--font-large);
  }
}
